.place {
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    margin: auto;
    display: grid;
    grid-template-columns: 47.22% 1fr;
    width: 93.8%;
    column-gap: 28px;
    row-gap: 48px;
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 47.4% 1fr;
    width: 90.6%;
    max-width: 928px;
    column-gap: 32px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 46.7% 1fr;
    column-gap: 40px;
    max-width: 984px;
  }
}

