.footer {
  padding: 0 5%;
  max-width: 1184px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125% 24px;

  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 4.688% 24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 0 24px;
  }
}
